/* CSS declarations go here */
/* TODO: refactor css centering to single class */

/* maybe make big box in center than align things based on that? use relative positioning
inside it? */

.menu {
  width: 800px;
  height: 400px;
  position: absolute; 
  margin: auto; 
  text-align: center;
  top: 0; left: 0; bottom: 0; right: 0;

}

table {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align:center;
  border: 1px solid black;
}


body {
  height: 100%;
  width: 100%;
}

.crop {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.crop img {
  height: auto;
  width: 400px;

}
table #gameImages {
  height: 100px;
  position: absolute;
  margin: auto; 
  top: 0; left: 0; bottom: 0; right: 0;
}

#setupGame {
  height: 100px;
  position: absolute;
  margin: auto; 
  top: 0; left: 0; bottom: 0; right: 0;
}

/* Landing Page Colors */
#new_game { background-color: #00AF64;}
#join_game { background-color: #1240AB;}
#play_for_fun { background-color: #FFAA00;}
#statistics { background-color: #FF4900;}

.landing_page {
  width: 50%;
  height: 50%;
}

#start:hover {
  background-color: #C0C0C0;
}
