/* CSS declarations go here */

.menu {
  width: 400px;
  height: 400px;
  position: absolute; 
  margin: auto; 
  text-align: center;
  top: 0; left: 0; bottom: 0; right: 0;

}

table {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align:center;
  border: 1px solid black;
}

img {
  height: 400px;
  width: 600px;
}

body {
  height: 100%;
  width: 100%;
}


/* Landing Page Colors */
#new_game { background-color: #00AF64;}
#join_game { background-color: #1240AB;}
#play_for_fun { background-color: #FFAA00;}
#statistics { background-color: #FF4900;}

.landing_page {
  width: 50%;
  height: 50%;
}
