<template name="inGame">
  <div class="page-header text-center">
    {{#if votingPhase}}
      <h1>Time Remaining: {{time}}</h1>
      {{#if hasVoted}}
        <h3 class="alert alert-success">Thank you for Voting</h3>
      {{else}}
        <h3 class="alert alert-warning">Please vote!</h3>
      {{/if}}
    {{else}}
      <h1>Displaying Results</h1>
    {{/if}}

  </div>
  <div class="row">
    <input type="button" value="Toggle Game Overview" id="gameOverviewButton" class="btn btn-info">
    {{#if gameOverviewToggled}}
      {{> gameOverview}}
    {{/if}}
    <div class="row col-md-offset-2">
      <div class="text-center">
        {{#each displayedImages}}
          <div class="col-md-5">
            {{> displayedImage}}
          </div>
      {{/each}}
      </div>
    </div>
  </div>
  <div class="row text-center">
    {{#if pauseGame}}
      <input type="button" value="Resume" id="resumeButton" class="btn btn-primary btn-lg btn-success">
    {{else}}
      <input type="button" value="Pause" id="pauseButton" class="btn btn-primary btn-lg btn-info">
      {{/if}}
  </div>
</template>
